<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jade.dao.CustomerServiceMapper" >

  <select id="selectByAccount" resultType="com.jade.mod.CustomerService" parameterType="java.lang.String">
	select cs.customer_service_id,cs.account,cs.customer_service,cs.content,cs.create_time,cs.is_read,ci.phone,ci.name
	from customer_service cs LEFT JOIN customer_information ci on cs.account=ci.account
	<if test="account != null and account != ''">
		where cs.account = #{account,jdbcType=VARCHAR}
	</if>
  </select>
  
  <select id="selectLastByAccount" resultType="com.jade.mod.CustomerService" parameterType="java.lang.String">
	select * from (SELECT customer_service_id,customer_service,account,content,is_read,MAX(create_time) create_time FROM customer_service  GROUP BY account ORDER BY create_time desc) as a
	where
		<if test="account != null and account != ''">
			a.account = #{account,jdbcType=VARCHAR} and
		</if>
		<if test="is_read != null and is_read != ''">
			a.is_read= #{is_read,jdbcType=VARCHAR} and
		</if>
	customer_service_id <![CDATA[ <= ]]>
	(SELECT customer_service_id FROM customer_service ORDER BY customer_service_id desc LIMIT ${pageAmount},1) ORDER BY customer_service_id desc LIMIT ${pageSize}
  </select>
  
  <select id="selectLastByAccountCount" resultType="java.lang.Integer" parameterType="java.lang.String">
	select count(*) from (SELECT customer_service_id,customer_service,account,content,is_read,MAX(create_time) create_time FROM customer_service  GROUP BY account ORDER BY create_time desc) as a
	<where>
		<if test="account != null and account != ''">
			and a.account = #{account,jdbcType=VARCHAR}
		</if>
		<if test="is_read != null and is_read != ''">
			and a.is_read= #{is_read,jdbcType=VARCHAR}
		</if>
	</where>
  </select>
  
  <select id="selectCustomerInformation" resultType="com.jade.mod.CustomerInformation" parameterType="java.lang.String">
	select account,phone,name from customer_information
	<if test="account != null and account != ''">
		where account = #{account,jdbcType=VARCHAR}
	</if>
  </select>
  
  <insert id="insert" parameterType="com.jade.mod.CustomerService">
    insert into customer_service (account,customer_service,content,is_read)
    values (#{account,jdbcType=VARCHAR}, #{customer_service,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{is_read,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertCustomerInformation" parameterType="com.jade.mod.CustomerInformation">
    insert into customer_information (account,phone,name)
    values (#{account,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateCustomerInformation" parameterType="java.lang.String">
    update customer_information set phone = #{phone,jdbcType=VARCHAR},name = #{name,jdbcType=VARCHAR} where account = #{account,jdbcType=VARCHAR}
  </update>
  
  <update id="updateIsRead" parameterType="java.lang.String">
    update customer_service set is_read = #{is_read,jdbcType=VARCHAR} where account = #{account,jdbcType=VARCHAR}
	and customer_service is NULL
  </update>
  
  <update id="updateReplyIsRead" parameterType="java.lang.String">
    update customer_service set is_read = #{is_read,jdbcType=VARCHAR} where account = #{account,jdbcType=VARCHAR}
	and customer_service is NOT NULL
  </update>

</mapper>