<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jade.dao.CustomerServiceMapper" >

  <select id="selectByAccount" resultType="com.jade.mod.CustomerService" parameterType="java.lang.String">
	select cs.account,cs.customer_service,cs.content,cs.create_time,cs.is_read,ci.phone,ci.name
	from customer_service cs LEFT JOIN customer_information ci on cs.account=ci.account
	<if test="account != null">
		where cs.account = #{account,jdbcType=VARCHAR}
	</if>
  </select>
  
  <select id="selectCustomerInformation" resultType="com.jade.mod.CustomerInformation" parameterType="java.lang.String">
	select account,phone,name from customer_information
	<if test="account != null">
		where account = #{account,jdbcType=VARCHAR}
	</if>
  </select>
  
  <insert id="insert" parameterType="com.jade.mod.CustomerService">
    insert into customer_service (account,customer_service,content,is_read)
    values (#{account,jdbcType=VARCHAR}, #{customer_service,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{is_read,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertCustomerInformation" parameterType="com.jade.mod.CustomerInformation">
    insert into customer_information (account,phone,name)
    values (#{account,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateCustomerInformation" parameterType="java.lang.String">
    update customer_information set phone = #{phone,jdbcType=VARCHAR},name = #{name,jdbcType=VARCHAR} where account = #{account,jdbcType=VARCHAR}
  </update>
  
  <update id="updateIsRead" parameterType="java.lang.String">
    update customer_service set is_read = #{is_read,jdbcType=VARCHAR} where account = #{account,jdbcType=VARCHAR}
	and customer_service is NULL
  </update>
  
  <update id="updateReplyIsRead" parameterType="java.lang.String">
    update customer_service set is_read = #{is_read,jdbcType=VARCHAR} where account = #{account,jdbcType=VARCHAR}
	and customer_service is NOT NULL
  </update>

</mapper>